<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename = 'favicon.png') }}">

    <title>Flower API</title>
</head>

<body>

    <main>
        <img id="logo" src="{{ url_for('static', filename='favicon.png') }}" alt="Flower API logo">
        <h1> Flower API </h1>
        <div class="search">

            <input type="text" placeholder="Enter flower name (e.g. Rose, Sunflower, ...)" id="flower">
            <button onclick="search()">Search</button>
            <div class="show_flower" id="show"> </div>

        </div>
    </main>



    <footer class="footer">
        <div class="footer-line"></div>

        <div class="footer-content">
            <div class="footer-brand">
                🌸 <span>Flower API</span>
            </div>

            <div class="footer-info">
                <span>Created by <strong>Jagannath Prasad Dash</strong></span>
                <span>•</span>
                <span>Ravenshaw University</span>
                <span>•</span>
                <span>18 Sep 2026</span>
            </div>
        </div>

        <p class="footer-copy">
            Made with Python & Flask
        </p>
    </footer>

    <script src="{{ url_for('static', filename = 'function.js') }}"></script>
</body>

</html>